@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #020617;

		--muted: #f1f5f9;
		--muted-foreground: #64748b;

		--popover: #ffffff;
		--popover-foreground: #020617;

		--card: #ffffff;
		--card-foreground: #020617;

		--border: #e2e8f0;
		--input: #e2e8f0;

		--primary: #2563eb;
		--primary-foreground: #eff6ff;

		--secondary: #f1f5f9;
		--secondary-foreground: #020617;

		--accent: #f1f5f9;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: #dc2626;
		--destructive-foreground: #f8fafc;

		--ring: #94a3b8;

		/* --radius: 8px; */
	}

	.dark {
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
